:root {
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.Index {
  max-width: 1200px;
  width: 100%;
  margin: 40px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  min-height: calc(100dvh - 80px);

  > div {
    border: 1px solid white;
  }

  &__left {
  }

  &__right {
  }
}
