html,
body,
div,
span,
iframe,
h4,
p,
a,
img,
section {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
}
button {
  text-align: inherit;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-weight: 400;
  text-size-adjust: 100%;
}
img {
  border: none;
  max-width: 100%;
}
button {
  border: none;
  background: none;
  border-radius: 0px;
  color: inherit;
  font: inherit;
}
button:hover {
  cursor: pointer;
}
.js-focus-visible :focus:not([data-focus-visible-added]) {
  outline: none;
}
body {
  color: #efeff1;
  font-size: 1.3rem;
  background-color: #0e0e10;
  font-family: "Inter", "Roobert", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  overflow: hidden;
}
html,
body {
  line-height: 1.5;
}
h4 {
  line-height: 1.5;
}
p {
  font-size: 1.3rem;
  line-height: 1.5;
}
.chat-room__content {
  display: flex !important;
  flex-flow: column !important;
  position: relative !important;
  -webkit-box-flex: 1 !important;
  flex-grow: 1 !important;
  height: 100% !important;
  color: #efeff1 !important;
}
.p-relative {
  position: relative !important;
}
.chat-line__message-container {
  position: relative !important;
}
.chat-line__no-background {
  display: flex !important;
}
.d-inline {
  display: inline !important;
}
.iWWhvN {
  display: flex !important;
  flex-direction: column !important;
  overflow: hidden !important;
  -webkit-box-flex: 1 !important;
  flex-grow: 1 !important;
}
.chat-room {
  height: 100%;
  min-height: 0;
  flex-shrink: 1 !important;
  -webkit-box-flex: 1 !important;
  flex-grow: 1 !important;
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
}
.chat-line__message--emote {
  pointer-events: all;
}
.chat-image__container {
  height: 2.8rem;
  margin: -0.4rem 0;
  width: 2.8rem;
  display: inline-block !important;
  text-align: center !important;
}
.chat-list--default {
  line-height: 2rem;
  display: flex !important;
  flex-direction: column !important;
  -webkit-box-flex: 1 !important;
  flex-grow: 1 !important;
  overflow: hidden !important;
}
.chat-badge {
  margin-bottom: 0.15rem;
  margin-right: 0.3rem;
  vertical-align: middle;
}
.chat-line__username-container {
  border-radius: 0.4rem;
  display: inline-block !important;
}
.chat-line__username {
  cursor: pointer;
  word-break: break-all;
}
.chat-line__message .chat-line__message-highlight {
  inset: -0.5rem -1rem;
  border-radius: 0.4rem !important;
  position: absolute !important;
}
.chat-line__icons {
  right: -1rem;
  top: -1.5rem;
}
.chat-author__display-name {
  font-weight: 700;
}
.chat-line__message {
  overflow-wrap: anywhere;
  padding: 0.5rem 2rem;
}
.chat-line__message--emote {
  margin: -0.5rem 0;
  position: relative;
  vertical-align: middle;
}
.chat-line__message--emote-button {
  -webkit-text-fill-color: initial;
  -moz-text-fill-color: initial;
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  font-style: normal;
  height: 2.8rem;
  justify-content: center;
  margin: -0.5rem 0;
  outline: none;
  pointer-events: all;
  position: relative;
  vertical-align: middle;
  width: 2.8rem;
}
.chat-scrollable-area__message-container {
  padding-bottom: 1rem;
  -webkit-box-flex: 1 !important;
  flex-grow: 1 !important;
}
.stream-chat {
  min-height: 0;
  width: 100% !important;
  height: 100% !important;
  display: flex !important;
  flex-flow: column !important;
  -webkit-box-flex: 1 !important;
  flex-grow: 1 !important;
  position: relative !important;
}
[data-simplebar] {
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  z-index: 0;
}
[data-simplebar="init"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.simplebar-scroll-content {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  min-width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.simplebar-content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}
.scrollable-area {
  height: 100%;
  position: relative;
}
.scrollable-area .simplebar-scroll-content {
  max-height: inherit !important;
}
.reply-icon {
  display: flex !important;
  color: #adadb8 !important;
}
.tw-svg {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  width: 17px;
  height: 17px;
  fill: currentColor;
}
.ijgHIL {
  padding-left: 0.5rem !important;
  overflow: hidden !important;
}
.cCvSAC {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.2rem !important;
}
.reply-line--mentioned {
  background-color: #f7f7f8;
  border-radius: 0.2rem;
  color: #18181b;
  padding: 0.1rem 0.2rem;
}
